.cabecalho {
  background-color: var(--roxo);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

nav {
  color: var(--branco);
  margin-right: 20px;
}

.M-logo {
  font-family: "Yeseva One", serif;
  color: var(--branco);
  font-size: 50px;
  margin: 0px 15px 10px 25px;
}

a {
  font-size: 25px;
  margin: 0 30px;
}

@media (max-width: 1024px) {
  a {
    font-size: 20px;
  }
}

@media (max-width: 760px) {
  a {
    margin: 0 15px;
  }

  .logo {
    width: 70px;
  }
}

@media (max-width: 560px) {
  nav {
    margin-right: 0px;
  }
  a {
    font-size: 16px;
    margin: 0 8px;
  }

  .M-logo {
    font-size: 35px;
    margin: 0px 0px 10px 5px;
  }
}
