.contato {
  height: 400px;
  background-image: url("./img/banner_contato2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo_contato {
  color: var(--roxo);
  font-size: 50px;
  font-weight: 500;
  margin: 50px 0 60px 130px;
}

.container_contato {
  margin-left: 130px;
  display: flex;
  flex-direction: column;
}

.contatos {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.texto_contato {
  color: var(--roxo);
  margin-left: 10px;
  font-size: 18px;
  font-family: Telegraf;
  text-decoration: none;
}
@media (max-width: 900px) {
  .titulo_contato {
    font-size: 45px;
    margin: 50px 0 50px 50px;
  }
}
@media (max-width: 730px) {
  .titulo_contato {
    font-size: 35px;
    margin: 50px 0 50px 30px;
  }
  .container_contato {
    margin-left: 30px;
  }
}
@media (max-width: 560px) {
  .contato {
    background-image: url("./img/banner_contato_celular.png");
    height: 300px;
  }
  .titulo_contato {
    font-size: 35px;
    margin: 30px 0;
    text-align: center;
  }
  .container_contato {
    margin-left: 40px;
  }
  .contatos {
    text-align: center;
  }
  .texto_contato {
    font-size: 16px;
  }
}
