.servicos {
  background-image: url("./img/servicos_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 750px;
}
.servicos_titulo {
  color: var(--roxo);
  font-size: 50px;
  font-weight: 500;
  margin-left: 130px;
}

.servicos_container {
  display: flex;
  justify-content: center;
  margin: 0px 50px;
}

.servicos_oferecidos {
  width: 350px;
  height: 310px;
  background-color: var(--branco);
  border-radius: 20px;
  border: var(--roxo) 6px solid;
  color: var(--verde);
  padding: 30px;
  text-align: center;
  margin: 90px 50px;
}

.img_servicos {
  height: 50px;
  margin: 10px 0;
}
.titulo_servicos {
  color: var(--roxo);
  font-size: 22px;
  text-decoration: underline;
  font-family: Telegraf;
  margin-bottom: 20px;
}

.descricao_servicos {
  color: var(--roxo);
  font-size: 20px;
  font-family: Telegraf;
}
