.sobreNos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 200px 50px;
}

.titulo_SobreNos {
  color: var(--roxo-texto);
  font-size: 50px;
  text-align: center;
  margin: 50px 0;
}

.paragrafo_SobreNos {
  font-size: 25px;
  line-height: 1.5;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 100;
}

.container_imagem {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.Francieli {
  width: 550px;
  margin-left: 70px;
}

@media (max-width: 1400px) {
  .sobreNos {
    margin: 200px 20px;
  }

  .paragrafo_SobreNos {
    margin-left: 20px;
  }

  .Francieli {
    margin-left: 90px;
    width: 450px;
  }
}

@media (max-width: 1024px) {
  .sobreNos {
    display: block;
    margin: 100px 50px;
  }

  .paragrafo_SobreNos {
    margin-left: 0px;
  }

  .Francieli {
    margin-left: 0px;
    margin-top: 50px;
  }
}

@media (max-width: 740px) {
  .sobreNos {
    margin: 20px 25px 50px 25px;
  }

  .titulo_SobreNos {
    font-size: 35px;
    margin: 0 0 30px 0;
  }

  .paragrafo_SobreNos {
    font-size: 18px;
    font-weight: 100;
  }

  .Francieli {
    width: 300px;
  }
}
