.sua-marca {
  background-image: url("./img/banner_sua_marca.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 760px;
  display: flex;
  justify-content: center;
}

.container_sua-marca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo_sua-marca {
  color: var(--branco);
  font-size: 80px;
  font-weight: 100;
  margin-bottom: -50px;
}

.titulo_sua-marca::first-letter {
  font-family: "Yeseva One", serif;
  font-size: 130px;
  font-weight: 500;
}

.subtitulo_sua-marca {
  color: var(--branco);
  font-weight: 500;
  font-size: 45px;
}
